
.title{
    font-size: 60px;
}

.button-group {
    /* position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 10px;
    width: 100%; */
    padding-right: 5px;
    height: auto;
}

